$body-bg-color: #ffffff;
$accent-color: #d20707;
$color: #000000;
$font-size-titlel: 85px;
$font-size-1: 24px;
$font-size-2: 20px;
$font-family: "Raleway", sans-serif;
$font-family-2: "Literata";
$modal-bg-color: #ffffff;